:root {
    --color-1: #cad2c5;
    --color-2: #84a98c;
    --color-3: #52796f;
    --color-4: #354f52;
    --color-5: #2f3e46;

}

body {
    margin: 0;
    color: var(--color-1)
}

.main-container {
    font-family: monospace;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: var(--color-5);
    text-align: center;
    font-size: 190%;
    padding-left: 8%;
    padding-right: 8%;
}

.input {
    width: 200px;
    color:black;
}

.sub-plot {
    border-top: 1px solid var(--color-1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-bottom: 10px;
}

.plot-header {
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: var(--color-4);
    background-color: var(--color-2);
}

.plot-header h4 {
    margin: 15px;
}

.plot-container { 
    width: 100%;
    background-color: var(--color-3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.options-container {
    display:flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-around;
    width: 50%;
}

.serv_dupl_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.dt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-image-container {
    padding-right: 150px;
    padding-left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-image-container img {
    width: auto;
    height: fit-content;
}

.footer {
    text-align: center;
    background-color: var(--color-4);
}

a:link {
    color: var(--color-3);
}

a:hover {
    color: var(--color-2);
}

a:visited {
    color: var(--color-5);
}

.dash-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}