:root {
    --color-1: #cad2c5;
    --color-2: #84a98c;
    --color-3: #52796f;
    --color-4: #354f52;
    --color-5: #2f3e46;

}

body {
    margin: 0;
    color: var(--color-1)
}

.main-container {
    border: 2px solid red;
    font-family: monospace;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: var(--color-5);
    text-align: center;
    font-size: 190%;
    padding-left: 8%;
    padding-right: 8%;
}

.input {
    width: 200px;
}

.plot {
    border: 1px solid var(--color-2);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.plot-header {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: var(--color-4);
    background-color: var(--color-2);
}

.plot-container { 
    background-color: var(--color-3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.graph {
    margin: 20px;
}

.footer {
    text-align: center;
    background-color: var(--color-4);
}

a:link {
    color: var(--color-3);
}

a:hover {
    color: var(--color-2);
}

a:visited {
    color: var(--color-5);
}