:root {
    --color-1: #cad2c5;
    --color-2: #84a98c;
    --color-3: #52796f;
    --color-4: #354f52;
    --color-5: #2f3e46;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--color-1)
}

.container {
    font-family: monospace;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sidenav {
    /* height: inherit; */
    width: 190px;
    /* z-index: 1; */
    /* left: 0; */
    background-color: var(--color-4);
    color: var(--color-1);
    /* overflow-x: hidden; */
    /* padding-top: 20px; */
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: var(--color-2);
    display: block;
}

.sidenav a:hover {
    color: var(--color-1); 
    /* font-size: 18px;
    transition: .2s; */
}

.summary {
    position: sticky;
    top: 0;
    padding-top: 20px;
}

.sum-header1 {
    font-size: 19px;
    transition: .2s;
}

.sum-header1:hover {
    transition: .2s;
    -webkit-transform: scale(1.1);
}

.sum-header2 {
    margin-left: 15px;
    font-size: 15px;
    transition: .2s;
}

.sum-header2:hover {
    margin-left: 15px;
    transition: .2s;
    -webkit-transform: scale(1.1);
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */


.header-container {
    background-color: var(--color-5);
    text-align: center;
    font-size: 190%;
    padding-left: 8%;
    padding-right: 8%;
}

.input {
    width: 200px;
    color:black;
}


.plot-container {
    position: relative; 
    /* margin-left: 160px; */
    width: 100%;
    background-color: var(--color-3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.plot-header {
    position: inherit;
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: var(--color-4);
    background-color: var(--color-2);
}

.plot-header h4 {
    padding: 15px;
    margin: 0;
}

.sub-plot {
    border-top: 1px solid var(--color-2);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-bottom: 30px;
}

.options-container {
    display:flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-around;
    width: 50%;
}

.serv_dupl_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.dt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-image-container {
    padding-right: 150px;
    padding-left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-image-container img {
    width: auto;
    height: fit-content;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: var(--color-4);
}

a:link {
    color: var(--color-2);
}

a:hover {
    color: var(--color-1);
}


/* .dash-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */